.flow {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: 0 -8px;

    &__item {
        width: 100%;
        margin-bottom: 16px;

		@include breakpoint(medium) {
			width: 50%;
		}
		
		@include breakpoint(large) {
			width: calc(100% / 3);

            p {
                background-color: hotpink;
            }

            &--3, &--4 {
                width: 50%;

                p {
                    background-color: lightblue;
                }
            }
            &--8 {
                width: 100%;

                p {
                    background-color: lightgreen;
                }
            }
		}
	}

    &__content {
        padding: 0 8px;
    }
}