.title {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 35px;

    &:hover {
        text-decoration: underline;

        &:before {
            content: '#';
            left: -25px;
            position: absolute;
        }
    }
}

.title-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 32px;
}

.download-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    
    &:hover {
        margin-left: 15px;

        .download-icon {
            width: 25px;
            
        }
    }
}

.download-icon {
    width: 23px;
}

.info {
	font-size: 20px;
	margin-bottom: 32px;
}

.code {
	background-color:#1C1C1C;
	color:#CECECE;
	font-family: Menlo;
	margin-bottom: 32px;
    overflow: auto;
}

.flow__content p {
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
}

.flow__item {
    margin: 0;

    &--3, &--4 {
        p {
            @include breakpoint(large) {
                padding-top: 32px;
                padding-bottom: 32px;
            }
        }
    }

    &--8 {
        p {
            @include breakpoint(medium) {
                padding-top: 32px;
                padding-bottom: 32px;
            }

            @include breakpoint(large) {
                padding-top: 64px;
                padding-bottom: 64px;
            }
        }
    }
}

.grid {
    text-align: center;
}

.grid__content p {
    background-color: hotpink;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
}

.info__content {
    margin-bottom: 16px;
    border: dotted 1px hotpink;
    
    div {
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: hotpink;
    }
}