@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$content-padding: 16px;

$screen-small   : 0px;
$screen-medium  : 640px;
$screen-large   : 1024px;
$screen-xlarge  : 1200px;
$screen-xxlarge : 1440px;