@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/**
 * Mixins and functions for breakpoints. Any screen break point is a mobile first so {direction} by default is "top"
 * ex: @include breakpoint({screen} {direction}){}
 * ex: @include breakpoint(small){}
 * ex: @include breakpoint(small top){}
 * ex: @include breakpoint(medium down){}
 */
.content-width--small, .content-width--medium, .content-width--large, .content-width--xlarge {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px; }
.content-width--small {
  max-width: calc(640px + 2 * 16px); }
.content-width--medium {
  max-width: calc(1024px + 2 * 16px); }
.content-width--large {
  max-width: calc(1200px + 2 * 16px); }
.content-width--xlarge {
  max-width: calc(1440px + 2 * 16px); }

/**
 * Some general resets and global styles
 */
*, *:before, *:after {
  box-sizing: border-box;
  font-family: inherit; }

html {
  height: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif; }

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 150px; }

header {
  margin-bottom: auto; }

main {
  flex-grow: 1; }

footer {
  margin-top: auto; }

figure {
  margin: 0; }

img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle; }

iframe {
  display: block; }

button {
  cursor: pointer; }

a {
  color: inherit; }

.title {
  display: block;
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 32px; }

.info {
  font-size: 20px;
  margin-bottom: 32px; }

.code {
  background-color: #1C1C1C;
  color: #CECECE;
  font-family: Menlo;
  margin-bottom: 32px; }

.flow__content p {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0; }

.flow__item--3, .flow__item--4 {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0; }
.flow__item--8 {
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0; }

.grid {
  text-align: center; }

.grid__content p {
  background-color: hotpink;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0; }

.info__content {
  margin-bottom: 16px;
  border: dotted 1px hotpink; }
  .info__content div {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: hotpink; }

.button {
  display: inline-block;
  border: solid 1px transparent;
  padding: 10px 20px;
  font-size: 1rem;
  user-select: none; }
  .button:active {
    border: inset 1px; }
  .button--danger {
    background-color: hotpink; }
  .button--success {
    background-color: lightgreen; }

.flow {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0 -8px; }
  .flow__item {
    width: 100%;
    margin-bottom: 16px; }
    @media screen and (min-width: 40em) {
      .flow__item {
        width: 50%; } }
    @media screen and (min-width: 64em) {
      .flow__item {
        width: calc(100% / 3); }
        .flow__item p {
          background-color: hotpink; }
        .flow__item--3, .flow__item--4 {
          width: 50%; }
          .flow__item--3 p, .flow__item--4 p {
            background-color: lightblue; }
        .flow__item--8 {
          width: 100%; }
          .flow__item--8 p {
            background-color: lightgreen; } }
  .flow__content {
    padding: 0 8px; }

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0 -8px; }
  .grid__item {
    width: 100%;
    margin-bottom: 16px; }
    @media screen and (min-width: 40em) {
      .grid__item {
        width: 50%; } }
    @media screen and (min-width: 64em) {
      .grid__item {
        width: calc(100% / 3); } }
  .grid__content {
    padding: 0 8px; }

/*# sourceMappingURL=index.css.map */
